<p style="color: green"><%= notice %></p>

<%= render @tip %>

<div>
  <%= link_to "Edit this tip", edit_tip_path(@tip) %> |
  <%= link_to "Back to tips", tips_path %>

  <%= button_to "Destroy this tip", @tip, method: :delete %>
</div>
